<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <th:block th:replace="fragments/_head.html::head"></th:block>

  <title>Annarium | Enregistrer un acte</title>

</head>

<body>

  <!-- ======= Header ======= -->
  <th:block th:replace="fragments/_header.html::header"></th:block>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a th:href="@{/}">Accueil</a></li>
            <li>Enregistrer un acte</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page" id="demande">
      <div class="container">
        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <div class="section-title">
                  <h3>Enregistrer un acte de naissance</h3>
                  <p>Veuillez entrer les informations pour l'acte de naissance</p>
                </div>
            </div>

            <div class="col-md-8">
                <form action="#"  th:action="@{/enregistreracte}" th:object="${acteDto}" method="post" class="php-email-form mt-4">
                    <label class="text-label">Informations de l'enfant</label>
                    <div class="row">

                        <div class="col-md-6 form-group">
                            <input th:field="*{numero}" type="text" class="form-control" placeholder="Numéro de l'acte" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input th:field="*{nom}" type="text" class="form-control" placeholder="Nom de l'enfant" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                          <input th:field="*{prenom}" type="text" class="form-control" placeholder="Prénom de l'enfant" required>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input th:field="*{dateNaissance}" type="text" class="form-control" placeholder="Date de naissance" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input th:field="*{lieuNaissance}" type="text" class="form-control" placeholder="Lieu de naissance" required>
                        </div>
                    </div>

                    <label class="text-label">Informations des parents</label>
                    <div class="row">

                        <div class="col-md-6 form-group">
                            <input th:field="*{nomPrenomPere}" type="text" class="form-control" placeholder="Nom et prénom du père" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input th:field="*{nomPrenomMere}" type="text" class="form-control" placeholder="Nom et prénom de la mère" required>
                        </div>
                    </div>

                    <button type="submit">Enregistrer</button>
                </form>
            </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <th:block  th:replace="fragments/_footer.html::footer"></th:block>

  <th:block th:replace="fragments/_js.html::js"></th:block>>


</body>

</html>